<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ form_title }}</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<div class="card mt-5">
				<div class="card-body">
					<h2 class="card-title">{{ form_title }}</h2>
					<form action="{{ url_for('submit_form', form_id=form_id) }}" method="POST">
						{% for field in fields %}
						<div class="form-group">
							<label>{{ field.label }}</label>
							<input type="{{ field.type }}" class="form-control" name="{{ field.label
							}}" {% if field.required == 1 %} required {% else %} nullable {% endif %}
							/> {% if field.required %}
							<div class="invalid-feedback">{{ field.label }} is required.</div>
							{% endif %}
						</div>
						{% endfor %}
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
