<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Display page</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<h2 class="mt-5">Collected Data</h2>
			<table class="table">
				<thead>
					<tr>
						{% for key in form_data[0].keys() %}
						<th>{{ key }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for data in form_data %}
					<tr>
						{% for value in data.values() %}
						<td>{{ value[0] }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
